// https://github.com/vueComponent/ant-design-vue/blob/next/components/style/themes/default.less

// color
@primary-color: #aa4be7;
@bg-color: #131a35;
@text-color: #fff;
@heading-color: @text-color;
@layout-header-background: @bg-color;
@layout-body-background: @bg-color;

// menu
@menu-bg: @bg-color;
@menu-item-color: rgba(241, 241, 242, 0.5);
@menu-highlight-color: rgba(241, 241, 242, 1);
@menu-dark-item-active-bg: #6a49fe;

// card
@card-background: rgba(19, 26, 53, 0.75);

// modal
@modal-header-bg: #1c274f;
@modal-heading-color: @text-color;

// tooltip
@tooltip-bg: @modal-header-bg;
@tooltip-color: @text-color;
@tooltip-max-width: 400px;

// tabs
@tabs-highlight-color: @text-color;
@tabs-title-font-size: 24px;
@tabs-scrolling-size: 0;
@tabs-horizontal-margin: 0 16px 0 0;
@tabs-horizontal-padding: 0;

// collapse
@collapse-header-bg: #000829;
@collapse-content-bg: @collapse-header-bg;

// process
@progress-default-color: @primary-color;

// table
@table-header-bg: transparent;
@table-row-hover-bg: transparent;
@table-header-sort-active-bg: transparent;
@table-header-filter-active-bg: transparent;

// radio
@radio-button-bg: #1c274f;
@radio-button-checked-bg: #f1f1f2;

// color foundation
@color-neutral50: #e2e3ec;
@color-neutral100: #cccdd5;
@color-neutral200: #b8b9c0;
@color-neutral300: #a5a6ac;
@color-neutral400: #929399;
@color-neutral500: #808186;
@color-neutral600: #6f6f74;
@color-neutral700: #5d5e62;
@color-neutral800: #4b4c4f;
@color-neutral900: #38383a;

@color-petrol50: #f7fcfd;
@color-petrol100: #e0f4f6;
@color-petrol200: #c1e9ed;
@color-petrol300: #a1dfe5;
@color-petrol400: #82d4dc;
@color-petrol500: #6639e4;
@color-petrol600: #1c8a90;
@color-petrol700: #15686c;
@color-petrol800: #0e4548;
@color-petrol900: #072324;
@color-petrol1000: #020909;

@color-blue50: #f2f3fc;
@color-blue100: #ccd1f1;
@color-blue200: #98a2e4;
@color-blue300: #6574d6;
@color-blue400: #3548c5;
@color-blue500: #3e0775;
@color-blue600: #1f2a75;
@color-blue700: #40428c;
@color-blue800: #2e1664;
@color-blue900: #080b1d;
@color-blue1000: #020307;
@color-blue-dark: #0b2e6a;
@color-light-blue: #2481a7;

@color-green300: #f2fcf8;
@color-green400: #bed8d0;
@color-green500: #31b79f;
@color-green600: #196956;

@color-yellow300: #fffcf4;
@color-yellow400: #ffe29a;
@color-yellow500: #ffcd4e;
@color-yellow600: #ffba00;

@color-red300: #fff0ed;
@color-red400: #fda095;
@color-red500: #fc5744;
@color-red600: #f03306;

@color-pink300: #ffecf2;
@color-pink400: #f1a6bc;
@color-pink500: #cc5075;
@color-pink600: #9d2246;

@color-purple300: #f8f0fa;
@color-purple400: #d9bddf;
@color-purple500: #93288f;
@color-purple600: #693f73;

// color foundation opaque

@color-opaque-blue800: #262767ad;

// color
@color-border-lightpurple: #6239df;
@color-outline: #273d94;

@color-pools: #724cee;
@color-farms: #ef745d;
@color-swap: #48a469;
@color-fertilizer: #3990f5;
@color-staking: #274195;

@color-modal-dark: #06204d;
@color-disable: #80829c;
@color-gray: #cdd2db;
@color-light-blue: #6639e4;

@color-labelized: @color-blue300;
@color-permissionless: #c75d4a;
@color-dual: #1eb8f1;
@color-new: #13ecab;
@color-ended: #ef745d;

// gradient color
@gradient-color01: linear-gradient(90deg, #273592 0%, #6639e4 100%);
@gradient-color02: linear-gradient(103.7deg, #6639e4 0%, #273592 100%);
@gradient-color03: linear-gradient(215.52deg, #273592 0.03%, #6639e4 99.97%);
@gradient-color04: linear-gradient(302.66deg, #2f3668 0.08%, #b99ade 100%);
@gradient-color05: linear-gradient(35.6deg, #273592 -0.06%, #6639e4 100%);
@gradient-color06: linear-gradient(149.5deg, #273592 -0.05%, #6639e4 100%);
@gradient-color-blue: linear-gradient(90deg, #273592 0%, rgba(39, 53, 146, 0) 100%);
@gradient-color-petrol: linear-gradient(90deg, #6639e4 0%, rgba(35, 173, 180, 0) 100%);
@gradient-color-outline: linear-gradient(97.63deg, #280c86 -29.92%, #22b5b6 103.89%);
@gradient-color-icon: linear-gradient(315deg, #bd21ac 0%, #280684 100%);
@gradient-color-primary: linear-gradient(190.83deg, #336c95 -119.02%, #2e1664 86.38%);

// mobile
@desktop-xl-width: 1440px;
@tablet-lg-width: 1024px;
@tablet-md-width: 768px;
@mobile-sl-width: 767px;
@mobile-sm-width: 435px;
@mobile-xs-width: 375px;

// media
@max-xl-desktop: ~'(max-width: 1440px)';
@max-lg-tablet: ~'(max-width: 1024px)';
@max-md-tablet: ~'(max-width: 768px)';
@max-sl-mobile: ~'(max-width: 767px)';
@max-sm-mobile: ~'(max-width: 435px)';
@max-xs-mobile: ~'(max-width: 375px)';
